#hero {
  padding: 48px 0;
  height: 100vh;
}

.hero-container {
  width: 1320px;
  height: 406px;
  padding: 16px 48px 0 48px;
  margin: 0 104px;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0 -12px;
  
}

.column {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  width: 832px;
  font-family: var(--font-family-alata);;
}

.subtitle {
  font-size: clamp(14px, 5vw, 16px);
  opacity: 0.6;
}

.subtitle.light {
  color: inherit;
}

.subtitle.dark {
  color: var(--text-color-dark);
}

#hero h2 {
  font-size: clamp(40px, 8vw, 80px);
  color: var(--primary-color);
  font-weight: 500;
  margin-bottom: 8px;
}

#hero h2.light {
  color: var(--primary-color);
}

#hero h2.dark {
  color: var(--primary-color-dark);
} 

#hero h3 {
  font-size: clamp(40px, 8vw, 60px);
  font-weight: 500;
  opacity: 0.5;
  margin-bottom: 8px;
  color: var(--text-color);
}

#hero h3.light {
  color: var(--text-color);
}

#hero h3.dark {
  color: var(--text-color-dark);
}

.hero-content {
  margin-top: 20px;
  max-width: 640px;
  opacity: 0.8;
  color: var(--text-color);
}

.hero-content.light {
  color: var(--text-color);
}

.hero-content.dark {
  color: var(--text-color-dark);
}

.left-content {
  padding: 0 12px;
  width: 138px;
}

#hero a.btn {
  margin-top: 50px;
  padding: 0.7rem 1.75rem;;
  border: 1px solid var(--primary-color);
  color: var(--text-color);
  border-radius: .75rem;
}

#hero a.btn.light {
  border: 1px solid var(--primary-color);
  color: var(--text-color);
}

#hero a.btn.dark {
  border: 1px solid var(--primary-color-dark);
  color: var(--text-color-dark);
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  font-size: 1rem;
}

.btn:hover {
  background-color: var(--secondary-color);
}

.right-content {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
}

.px-1{
  padding-right: .25rem;
  padding-left: .25rem;
}

#hero a.btn.social-icon {
  line-height: 0%;
  border-radius: 50%;
  padding: 0.7rem;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

#hero a.btn.social-icon.light {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

#hero a.btn.social-icon.dark {
  color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
}

#hero a.btn.social-icon.dark:hover {
  border-color: var(--text-secondary-color);
  background-color: transparent;
}

.fa-icons:hover {
  color: var(--text-secondary-color);
}

.outer-container {
  padding: 0 12px;
}

.middle-container {
  justify-content: center;
  align-items: flex-end;
}

.inner-container {
  padding-top: 3rem;
  text-align: center;

}

.img-thumbnail {
  box-shadow: 0px 8px 56px rgba(15, 80, 100, 0.16);
  border: 3px solid var(--secondary-color);
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  width: 100%;
  height: auto;
}

.hero-bottom{
  opacity: 0.5;
  position: absolute;
  bottom: -50px;
  left: -150px;
}