@import url('https://fonts.googleapis.com/css2?family=Alata&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root {
  --text-color: #343a40;
  --text-secondary-color: #6c757d;
  --text-link-color: #007bff;
  --background-color: #eaedf0;
  --secondary-background-color: #64ffda1a;
  --primary-color: #007bff;
  --secondary-color: #f8f9fa;
  --text-color-dark: #e4e6eb;
  --text-secondary-color-dark: #b0b3b8;
  --text-link-color-dark: #ffffff;
  --background-color-dark: #18191a;
  --secondary-background-color-dark: #212529;
  --primary-color-dark: #ffffff;
  --secondary-color-dark: #212529;
  --font-family-lora: "Lora", serif;
  --font-family-alata: "Alata", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  background-color: var(--background-color);
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: var(--font-family-lora);
}

body.light {
  background-color: var(--background-color);
}

body.dark {
  background-color: var(--background-color-dark);
}